.abstraction-table {
 border: 15px solid #404040;
}

.border-right {
 border-right: 8px solid #404040;
}

.border-bottom {
 border-bottom: 8px solid #404040;
}

.square {
 width: 70px;
 height: 70px;
}

.rectangle {
 width: 100px;
 height: 70px;
}

.bg-blue {
 background-color: #1372C0;
}

.bg-black {
 background-color: #000;
}

.bg-yellow {
 background-color: #F3F400;
}

.bg-red {
 background-color: #FF0000;
}